################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/FileContentIndex/fabfb9a0-ed98-4bfe-8d51-d09543ad5c1c.vsidx
/.vs/slnx.sqlite
/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/FileContentIndex/952c5dc1-5f45-4a77-aea0-8ad76d59e661.vsidx
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/v17/DocumentLayout.json
/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/v17/.suo
/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/FileContentIndex/b84e1ced-fa3a-4b42-9987-20b446f4556a.vsidx
/.vs/Class-Pilot/v17/.wsuo
/.vs/Class-Pilot/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/CreateClass(AdminPannel)/.vs/CreateClass(AdminPannel)/FileContentIndex
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/ComponentFactory.Krypton.Docking.pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/ComponentFactory.Krypton.Navigator.pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/ComponentFactory.Krypton.Ribbon.pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/ComponentFactory.Krypton.Toolkit.pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/ComponentFactory.Krypton.Workspace.pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/CreateClass(AdminPannel).exe
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/bin/Debug/CreateClass(AdminPannel).pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/CreateClass(AdminPannel).csproj.AssemblyReference.cache
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/CreateClass(AdminPannel).csproj.FileListAbsolute.txt
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/CreateClass(AdminPannel).pdb
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/Form1.Designer.cs
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/UserControl1.Designer.cs
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/CreateClass(AdminPannel).csproj.GenerateResource.cache
/CreateClass(AdminPannel)/CreateClass(AdminPannel)/obj/Debug/CreateClass(AdminPannel).exe
